@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">welcome to jenkin huikkoioks</h1>     
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web   ASP.NET Core BY CHELSEA cause its git update new .</a>.</p>
</div>
