@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">welcome to jenkin huikkoioks</h1>     
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps withhhh .</a>.</p>
</div>
=======

    <h1 class="display-4">welcome to jenkins</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core update gift</a>.</p>

>>>>>>> 809560a4cd9f7e0e70e0d9e0d3fe003fe33cc9cc
</div>
